#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -15px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen_channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen_channel-header {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;

  color: rgba(0, 0, 0, 0.5);
}

.new-friends,
.new__line > .user-component__colum {
  margin-top: 10px;
}
.new__line > .user-component__colum {
  margin-bottom: 10px;
}
.new__line {
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}
.new__header {
  margin: 0px;
}
@keyframes hidescreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 110vh;
  width: 100vw;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  animation: hidescreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
}
